.navbar
{
    border-bottom: 1px solid lightgray ;
    margin-bottom: 10px;
    box-sizing: border-box;

    padding: 2px 50px 2px 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .photo
    {
        border-radius: 100%;
        width: 24px;
        height: 24px;
    }

    .toUserData
    {
        cursor: pointer;
        font-size: large;
    }
    .toUserData:hover
    {
        cursor: pointer;
        font-size: large;
    }
}

.page
{
    padding: 0px 50px;
}