<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <span class="d-inline-flex align-items-center" >
        <h3>YavaPrimum</h3>
        <span class="d-inline-flex panel gap-2">
            <p *ngIf="isAdmin" (click)="navigateTo('account/admin')">Главная</p>
            <p *ngIf="isAdmin" (click)="navigateTo('account/charts')">Статистика</p>
            <p *ngIf="!isAdmin" (click)="navigateTo('account/hr')">Главная</p>
        </span>
    </span>
    <span class="d-inline-flex toUserData">
        <span class="notify-container" (click)="navigateTo('account/notifications')">
            <div class="notify" *ngIf="countOfNotify > 0">{{countOfNotify}}</div>
            <i class="bi bi-bell"></i>
        </span>
        <img id="photo" class="photo mx-1" src="https://localhost:7247/{{user.imgUrl}}" [alt]="user.surname">
        <p (click)="navigateTo('account/userData')">{{user.surname}} {{user.firstName}}</p>
    </span>
</nav>
<div class="page">
    <router-outlet></router-outlet>
</div>