.navbar
{
    border-bottom: 1px solid lightgray ;
    margin-bottom: 10px;
    box-sizing: border-box;

    padding: 2px 50px 2px 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .photo
    {
        border-radius: 100%;
        width: 24px;
        height: 24px;
    }

    .toUserData
    {
        cursor: pointer;
        font-size: large;
    }
    .toUserData:hover
    {
        cursor: pointer;
        font-size: large;
    }

    .notify-container
    {
        position: relative;
        display: inline-flex;
        margin-right: 10px;
    }
    .notify
        {
            background-color: red;
            border-radius: 100%;
            width: 17px;
            height: 17px;
            font-size: x-small;
            text-align: center;
            
            position: relative;
            left: 25px;
            top: -3px;
        }
}

.page
{
    padding: 0px 20px;
}