.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;  //Значение z-index для отображения над другими элементами 
}

.navbar
{
    border-bottom: 1px solid lightgray ;
    margin-bottom: 10px;
    box-sizing: border-box;

    padding: 2px 50px 2px 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;


    .nav-link {
        cursor: pointer; /* Курсор в виде указателя */
        transition: transform 0.2s ease; /* Плавное увеличение */
        display: inline-block; /* Чтобы transform работал корректно */
    }
    
    .nav-link:hover {
        transform: scale(1.01); /* Увеличение текста на 10% */
    }

    .panel
    {
        margin-left: 100px;
    }
    @media (max-width: 1200px) {
    .panel {
        margin-left: 50px;
    }
}
    .photo
    {
        border-radius: 100%;
        width: 24px;
        height: 24px;
    }

    .toUserData
    {
        cursor: pointer;
        font-size: large;
    }

    .notify-container
    {
        position: relative;
        display: inline-flex;
        margin-right: 10px;
    }
    .notify
        {
            background-color: red;
            border-radius: 100%;
            width: 17px;
            height: 17px;
            font-size: x-small;
            text-align: center;
            
            position: relative;
            left: 25px;
            top: -3px;
        }
}

.page
{
    margin-top: 60px;
    padding: 0px 20px;
    
}