<div class="container">
  <div class="calendar">
    <div class="row">
      <div class="col text-center font-weight-bold">Пн</div>
      <div class="col text-center font-weight-bold">Вт</div>
      <div class="col text-center font-weight-bold">Ср</div>
      <div class="col text-center font-weight-bold">Чт</div>
      <div class="col text-center font-weight-bold">Пт</div>
      <div class="col text-center font-weight-bold">Сб</div>
      <div class="col text-center font-weight-bold">Вс</div>
    </div>
    <div class="row" *ngFor="let week of calendar">
      <div class="col text-center day-cell" *ngFor="let day of week">
        <div *ngIf="day">{{ day }}</div>
      </div>
    </div>
  </div>
</div>
