.grid
{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 1fr;
    color: gray;

    .grid-cell
    {
        border-bottom: 1px solid #d3d3d3;
    }
}
.weeks-grid
{
    .grid-cell
    {
        align-content: center;
        text-align: center;

        font-weight: bold;
        height: 50px;
    }
}
.day-grid
{   flex-grow: 1;

    .grid-cell
    {
        position: relative;

    }
    :hover
    {
        background-color: darken(white, 20%);
        border-radius: 5px;
        
    }

    .task
    {
        width: fit-content;
        margin-top: 2px;
        border-radius: 5px;
        background-color: aquamarine;
        font-size: 10px;
    }
    .task2
    {
        width: fit-content;
        margin-top: 2px;
        border-radius: 5px;
        background-color: rgb(255, 208, 127);
        font-size: 10px;
    }

    .more
    {
        position: absolute; 
        bottom: 1px;
        right: 3px;

        width: 10px;
        height: 10px;
    }
}