$base-color : rgb(83, 83, 83);
$not-month-color : darkgray;
$today-border: 1px dashed red;
$boder-cell: #d3d3d3;
$active-day-bg: darken(white, 20%);
$today-bg : darken(white, 20%);
$hover: darken(white, 10%);
$task-interview-bg: #f6df6b;
$task-call-bg: #6bf6ca;

.headline-control
{
    cursor: pointer;
}
.grid
{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 1fr;
    color: $base-color;

    .grid-cell
    {
        border-bottom: 1px solid $boder-cell;
    }
}
.weeks-grid
{
    .grid-cell
    {
        align-content: center;
        text-align: center;

        font-weight: bold;
        height: 50px;
    }
}
.day-grid
{   flex-grow: 1;

    .grid-cell
    {
        position: relative;
    }
    .grid-cell-active
    {
        background-color: $active-day-bg;
        border-radius: 5px;
    }
    .grid-cell-today
    {
        background-color: $active-day-bg;
        border-radius: 5px;
        border: $today-border;
    }
    .grid-cell-not-month
    {
        color: $not-month-color;
    }
    :hover
    {
        background-color: $hover;
        border-radius: 5px;     
    }

    .task-interview
    {
        width: fit-content;
        margin-top: 2px;
        border-radius: 5px;
        background-color: $task-interview-bg;
        font-size: 10px;
    }
    .task-call
    {
        width: fit-content;
        margin-top: 2px;
        border-radius: 5px;
        background-color: $task-call-bg;
        font-size: 10px;
    }

    .more
    {
        position: absolute; 
        bottom: 1px;
        right: 3px;

        width: 10px;
        height: 10px;
    }
}