<div class="modal fade" id="Delete" data-bs-backdrop="static"
tabindex="-1" aria-labelledby="TaskInfo" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Вы точно хотите удалить кандидата {{task.candidate.secondName}}?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-end gap-1">
                    <button type="submit" class="btn btn-success" data-bs-dismiss="modal" (click)="Delete()">Да</button>
                </div>
            </div>
        </div>
    </div>
</div>