<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="login">
      <form #form="ngForm" (ngSubmit)="LogIn(form)">
        <div class="card card-body">
          <h3 class="text-center">Добро пожаловать в YavaPrimum</h3>
          <div class="form-group">
            <label for="EMail" class="col-form-label">Логин</label>
            <input type="email" placeholder="login@mail.ru" required class="form-control" id="EMail" name="EMail" ngModel #email="ngModel" />
            <div *ngIf="email.invalid && email.touched" class="text-danger">
              <small *ngIf="email.errors?.['required']">Логин обязателен для заполнения</small>
              <small *ngIf="email.errors?.['email']">Некорректный формат email</small>
            </div>
            <label for="password" class="col-form-label">Пароль</label>
            <input type="password" placeholder="Пароль" required class="form-control" id="password" name="password" ngModel #password="ngModel" />
            <div *ngIf="password.invalid && password.touched" class="text-danger">
              <small *ngIf="password.errors?.['required']">Пароль обязателен для заполнения</small>
            </div>
          </div>
          <p class="loginEror text-center color-red">{{ loginError }}</p>
          <a href="#" data-bs-toggle="modal" data-bs-target="#ForgotPassword" class="text-center mt-1">Забыли пароль?</a>
          <button type="submit" class="btn btn-primary mt-4" [disabled]="form.invalid">Войти</button>
        </div>
      </form>
    </div>
    <img class="logo" src="img/PrimumLogo.svg" alt="Logo">
  </div>
  
  <div class="modal fade" id="ForgotPassword" data-bs-backdrop="static" tabindex="-1" aria-labelledby="ForgotPassword" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Забыли пароль?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
        </div>
        <form #newPassForm="ngForm" (ngSubmit)="newPass(newPassForm)">
          <div class="modal-body">
            <label for="emailToPass">Введите вашу почту</label>
            <input type="email" class="form-control" id="emailToPass" name="emailToPass" ngModel #emailCtrl="ngModel" />
            <small *ngIf="emailCtrl.errors?.['notExist']" class="text-danger">Эта почта не зарегистрирована</small>


            <ng-container *ngIf="status >= 1">
              <label for="codeToPass">Введите код</label>
              <input type="text" class="form-control" id="codeToPass" name="codeToPass" ngModel #codeCtrl="ngModel" />
              <small *ngIf="codeCtrl.errors?.['invalidCode']" class="text-danger">Неверный код</small>
            </ng-container>

            <ng-container *ngIf="status >= 2">
              <label for="passToPass">Введите новый пароль</label>
              <input type="password" class="form-control" id="passToPass" name="passToPass" ngModel />
            </ng-container>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" id="btnSuccess">Подтвердить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  