.profile
{
    max-width: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    
    label
    {
        margin-top: 5px;
    }

    .photo
    {
        border-radius: 100%;
        border: 1px solid lightgray;
        margin-right: 5px;
    }

    .name
    {
        font-size: large
    }
}
