<ng-container *ngIf="posts">
<div
  class="modal fade"
  data-bs-backdrop="static"
  id="AddCandidate"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="modal-header">
          <h5 class="modal-title">Добавить кандидата</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Закрыть"
          ></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="surname" class="mt-1">Введите фамилию</label>
            <input
              placeholder="Иванов"
              type="text"
              class="form-control"
              id="surname"
              formControlName="surname"
            />
          </div>
          <div class="form-group">
            <label for="firstName" class="mt-1">Введите имя</label>
            <input
              placeholder="Иван"
              type="text"
              class="form-control"
              id="firstName"
              formControlName="firstName"
            />
          </div>
          <div class="form-group">
            <label for="patronymic" class="mt-1">Введите отчество</label>
            <input
              placeholder="Иванович"
              type="text"
              class="form-control"
              id="patronymic"
              formControlName="patronymic"
            />
          </div>
          <div class="d-flex justify-content-between">
            <div class="form-group col-md-5">
              <label for="post" class="mt-1">Введите должность</label>
              <select class="form-control" id="post" formControlName="post">
                <option *ngFor="let post of posts" [value]="post">
                  {{ post }}
                </option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="country" class="mt-1">Введите страну проживания</label>
              <select class="form-control" id="country" formControlName="country">
                <option *ngFor="let country of countries" [value]="country">
                  {{ country }}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="phone" class="mt-1">Телефон</label>
            <input
              placeholder="+375445559525"
              type="text"
              class="form-control"
              id="phone"
              formControlName="phone"
            />
          </div>
          <div class="form-group">
            <label for="email" class="mt-1">Email</label>
            <input
              placeholder="email@mail.ru"
              type="email"
              class="form-control"
              id="email"
              formControlName="email"
            />
          </div>
          <div class="form-group">
            <label for="dateTime" class="mt-1">Дата и время собеседования</label>
            <input
              type="datetime-local"
              class="form-control"
              id="dateTime"
              formControlName="interviewDate"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Закрыть
          </button>
          <button type="submit" class="btn btn-primary">
            Добавить кандидата
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</ng-container>