<div class="card task-card bg-white mb-4" *ngIf="task" [ngClass]="{'passed': task.typeStatus == 2 || task.typeStatus == 4}">
    <div>
      <span class="d-flex justify-content-between">
        <p class="fs-4" *ngIf="task.typeStatus != 3">{{task.dateTime.toFormat('HH:mm')}}</p>
        <p></p>
      <p class="text-success">{{task.status}}</p>
      </span>
    <p>{{task.candidate.post}}</p>
    <p class="candidate_FIO">{{task.candidate.surname}} {{task.candidate.firstName}} {{task.candidate.patronymic}}</p>
    <span class="d-flex column-gap-3 flex-wrap">
        <span class="d-inline-flex">
          <i class="bi bi-telephone"></i>
          <p>{{task.candidate.phone}}</p>
        </span>
        <span class="d-inline-flex">
          <i class="bi bi-envelope"></i>
          <p>{{task.candidate.email}}</p>
        </span>
    </span>
      <span class="d-flex justify-content-end gap-1 mt-2">
        <button type="button" class="bi bi-clipboard2 btn btn-outline-success"  data-bs-toggle="modal" 
        data-bs-target="#Interview" (click)="onButtonClick()"*ngIf="task.status == 'Назначено собеседование'">Собеседовать</button>

        <button type="button" class="bi bi-clipboard2 btn btn-outline-success"  data-bs-toggle="modal" 
        data-bs-target="#Reception" (click)="onButtonClick()"*ngIf="task.status == 'Назначен приём'">Принять</button>
  
        <button type="button" class="bi bi-clipboard2 btn btn-outline-success"  data-bs-toggle="modal" 
        data-bs-target="#ConfirmTheDate" (click)="onButtonClick()"*ngIf="task.status == 'Подтверждение даты'">Подтверждение даты</button>

        <button type="button" class="bi bi-clipboard2 btn btn-outline-success"  data-bs-toggle="modal" 
        data-bs-target="#ConfirmTheTime" (click)="onButtonClick()"*ngIf="task.status == 'Подтверждение времени'">Подтверждение времени</button>

        <!-- <button type="button" class="bi bi-pen btn btn-outline-secondary"data-bs-toggle="modal"  -->
        <!-- data-bs-target="#ChangeCandidate" (click)="onButtonClick()">Изменить</button> -->
    </span>
  </div>
  
  
  