<div class="menu d-flex">
  <div class="d-flex flex-column">
    <div>
      <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Добавьте кандидата
      </button>
      <button class="btn btn-primary dropdown-toggle mb-3 w-25 mx-1" type="button" id="dropdownMenuButton" (click)="toggleDropdown()">
        Всё
      </button>
      <div class="dropdown-menu" [class.show]="isDropdownOpen" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#" (click)="applyFilter('Всё')">Всё</a>
        <a class="dropdown-item" href="#" (click)="applyFilter('Приём')">Приём</a>
        <a class="dropdown-item" href="#" (click)="applyFilter('Звонок')">Звонок</a>
        <a class="dropdown-item" href="#" (click)="applyFilter('Ожидание')">Ожидание</a>
      </div>
    </div>
    <div class="taks-list">   
      <app-task-card *ngFor="let task of tasks" [task]="task"></app-task-card>
    </div>
  </div>
  <div class="calendar">
    <app-calendar></app-calendar>
  </div>
</div>
<app-create-candidate></app-create-candidate>
