.container
{
  display: flex;
  flex-direction: column;
  align-items: center;

  .form-check {
    left: 350px;
    width: 250px;
  }

.card
{
  width: 50%;
  min-width: 500px;

  &.readed {
    background-color: #f8f9fa;
  }
}
}
