<div class="menu d-flex" *ngIf="!loading">
    <div class="d-flex flex-column">
      <div>
        <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#AddCandidate" *ngIf="isHr">
          Добавьте кандидата
        </button>
      </div>
      <div class="taks-list">   
        <ng-container *ngIf="tasks.length > 0; else noTasks">
          <app-task *ngFor="let task of tasks" [task]="task" (setActiveTask)="setActiveTask($event)"></app-task>
        </ng-container>
        
        <ng-template #noTasks>
          <div class="noTask">На сегодня задач нет...</div>
        </ng-template>
      </div>
    </div>
    <div class="calendar">
      <app-calendar (getTasks)="getTasks($event)"></app-calendar>
    </div>
  </div>
<app-task-interview [task]="activeTask"></app-task-interview>
<app-add-task></app-add-task>
<app-change-task></app-change-task>
  <!--    <app-change-candidate></app-change-candidate>
<app-task-delete></app-task-delete>s-->
  