<div class="login">
    <form>
      <div class="card card-body">
          <div class="form-group">
            <label for="login" class="col-form-label">Логин</label>
            <input type="text" class="form-control" id="login" name="login" ngModel>
          </div>
          <div class="form-group">
            <label for="password" class="col-form-label">Пароль</label>
            <input type="password" class="form-control" id="password" name="password" ngModel>
          </div>
          <button type="submit" class="btn btn-primary mt-3">Добавить кандидата</button>
        </div> 
    </form>
  </div>
  